@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  font-family: "Open Sans", Calibri, sans-serif;
}

.container {
  width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/* header part */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-logo-link {
  width: 58px;
  margin-right: auto;
}

.header-logo {
  display: block;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.4;
}

.nav-bar {
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 16px;
}

.nav-link {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  display: none;
  width: 100%;
  height: 3px;
  background-color: #191919;
  content: "";
}

.nav-item:hover .nav-link::after {
  display: block;
}

.nav-item:active .nav-link {
  color: #fff;
}

.nav-item:active {
  background: rgba(25, 25, 25, 0.7);
}

.nav-item:active .nav-link::after {
  display: none;
}

/* dropdown menu */
.services {
  position: relative;
  z-index: 1;
}

.services:hover .nav-services-list {
  display: block;
}

.nav-services-list {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  display: none;
  width: 124px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav-services-item {
}

.nav-services-item:hover .nav-services-link {
  color: #fff;
  background: #00bafc;
}

.nav-services-item:active .nav-services-link {
  opacity: 0.6;
}

.nav-services-link {
  display: inline-block;
  width: 100%;
  padding: 16px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

/* dropdown menu end */

.header-phone {
  display: inline-block;
  margin-left: 24px;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  border-radius: 5px;
  background-color: #00bafc;
  border: 3px solid #fff;
  border-radius: 5px;
}

.header-phone:hover {
  color: #00bafc;
  background-color: white;
  border: 3px solid #00bafc;
}

.header-phone:active {
  color: #fff;
  background: rgba(0, 186, 252, 0.6);
}

/* intro section */
.intro {
  padding: 80px 0;
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
}

.intro-wrapper-info {
  width: 470px;
}

.intro-info-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 130%;
}

.intro-info-paragraph {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.intro-info-link {
  display: inline-block;
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: #00bafc;
  border-radius: 5px;
}

.intro-info-link:hover {
  background: rgba(0, 186, 252, 0.8);
}

.intro-info-link:active {
  background: rgba(0, 186, 252, 0.6);
}

.intro-youtube-video {
  border-radius: 5px;
}

/* services section */
.services {
}

.services-wrapper {
  margin-bottom: 56px;
}

.services-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.services-paragraph {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 260px;
  margin-bottom: 48px;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-item:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-item:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-item::before {
  display: inline-block;
  width: 250px;
  height: 130px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.veb-site::before {
  background-image: url(../images/services-part/website-illustration.svg);
  background-size: 202px 130px;
}

.telegram-bot::before {
  background-image: url(../images/services-part/bot-illustration.svg);
  background-size: 222px 130px;
}

.smm::before {
  background-image: url(../images/services-part/smm-illustration.svg);
  background-size: 177px 130px;
}

.design {
  margin-left: 195px;
}

.design::before {
  background-image: url(../images/services-part/design-illustration.svg);
  background-size: 179px 130px;
}

.crm {
  margin-right: 195px;
}

.crm::before {
  background-image: url(../images/services-part/crm-illustration.svg);
  background-size: 169px 130px;
}

.services-link {
  text-decoration: none;
  color: #000000;
}

.services-link-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}

.services-link-paragraph {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.services-links {
  text-align: center;
}

.link-to-order {
  display: inline-block;
  width: 167px;
  margin: 0 auto;
  padding: 8px 16px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: #00bafc;
  border-radius: 5px;
}

.link-to-order:hover {
  background: rgba(0, 186, 252, 0.8);
}

.link-to-order:active {
  background: rgba(0, 186, 252, 0.6);
}

.link-to-services {
  display: inline-block;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #00bafc;
}

/* instruction section */
.instruction {
  margin-bottom: 95px;
}

.container-small {
  width: 890px;
}

.instruction-heading {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.instruction-paragraph {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.instruction-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instruction-item {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  padding: 0;
}

.instruction-item::before {
  display: inline-block;
  width: 300px;
  height: 278px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.demands::before {
  background-image: url(../images/instruction-part/demands.svg);
  background-size: 300px 278px;
}

.solution::before {
  background-image: url(../images/instruction-part/solution.svg);
  background-size: 300px 225px;
}

.time::before {
  background-image: url(../images/instruction-part/time.svg);
  background-size: 300px 259px;
}

.quality::before {
  background-image: url(../images/instruction-part/quality.svg);
  background-size: 300px 162px;
}

.support::before {
  background-image: url(../images/instruction-part/support.svg);
  background-size: 300px 232px;
}

.instruction-item:nth-child(2n)::before {
  order: 1;
}

.instruction-item-wrapper {
  width: 493px;
}

.instruction-item-heading {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 130%;
}

.instruction-item-paragraph {
  margin: 0;
}

.center {
  display: block;
  margin: 0 auto;
}

/* order form section */
.order-form {
  padding-top: 56px;
  padding-bottom: 64px;
  width: 100%;
  background: #00bafc;
}

.order-form-heading {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.order-form-paragraph {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.form-filling {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
  width: 348px;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
}

.form-filling-input {
  width: 300px;
  height: 56px;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 16px;
  line-height: 150%;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.select-wrapper {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 56px;
  margin-bottom: 16px;
}

.select-wrapper::after {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/select-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
}

.form-filling-select {
  appearance: none;
}

.form-filling-input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.form-filling-button {
  display: inline-block;
  width: 170px;
  margin: 0 auto;
  padding: 8px 16px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: #00bafc;
  border: 1px solid #00bafc;
  border-radius: 5px;
}

.form-filling-button:hover {
  background: rgba(0, 186, 252, 0.8);
}

.form-filling-button:active {
  background: rgba(0, 186, 252, 0.6);
}

/* footer part */

.footer {
  width: 100%;
  padding-top: 56px;
  padding-bottom: 56px;
  background: #191919;
}

.footer-wrapper {
  display: flex;
}

.footer-rights {
  width: 320px;
  margin-right: 100px;
}

.footer-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
}

.footer-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.footer-pages {
  width: 143px;
  margin-right: 87px;
}

.footer-sites {
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-item {
  margin-bottom: 8px;
}

.pseudo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.pseudo::before {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.telegram::before {
  background-image: url(../images/footer-part/telegram.svg);
  background-size: 22px 23px;
}

.facebook::before {
  background-image: url(../images/footer-part/facebook.svg);
  background-size: 21px 23px;
}

.instagram::before {
  background-image: url(../images/footer-part/instagram.svg);
  background-size: 22px 21px;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-link:hover {
  color: #00bafc;
}

.footer-link:active {
  opacity: 0.6;
}
